<web-app>
	
	<servlet>
		<servlet-name>DisplayServlet</servlet-name>
		<servlet-class>Login.Servlet.DisplayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayServlet</servlet-name>
		<url-pattern>/DisplayServ</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoginServ</servlet-name>
		<servlet-class>Login.Servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServ</servlet-name>
		<url-pattern>/request</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>registrationSevlet</servlet-name>
		<servlet-class>Login.Servlet.RegistrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registrationSevlet</servlet-name>
		<url-pattern>/registration</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>
	
</web-app>